<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>

  <spring>

    <context>
      <resource uri="config://spring/objects" />
    </context>

    <objects xmlns="http://www.springframework.net">

      <object name="DefaultEventBus" type="MicroFramework.Impl.DefaultEventBus,MicroFramework"  singleton="true">

      </object>

      <object name="DefaultCommandBus" type="MicroFramework.Impl.DefaultCommandBus,MicroFramework"  singleton="true">

      </object>

      <object name="DefaultQueryBus" type="MicroFramework.Impl.DefaultQueryBus,MicroFramework"  singleton="true">

      </object>


      <object name="UserCommandHandler" type="MicroService.Application.Command.Handler.UserCommandHandler,MicroService.Application"  singleton="false">

      </object>


      <object name="DefaultServiceBus" type="MicroFramework.Impl.DefaultServiceBus,MicroFramework" singleton="true">
        <constructor-arg name="commandbus" ref="DefaultCommandBus"/>
        <constructor-arg name="eventbus" ref="DefaultEventBus"/>
        <constructor-arg name="querybus" ref="DefaultQueryBus"/>

      </object>
      
      <object name="QueryUserHandler" type="MicroService.Application.Query.QueryUserHandler,MicroService.Application"></object>

  
    </objects>

  </spring>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>